
/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600&display=swap'); */

:root {
    --background-color: #eef3f6;
}

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: var(--font-family); */
    background-color: var(--background-color);
}